# node / next
node_modules
.pnpm-store
.next
out
dist
coverage
*.log

# env
.env
.env.*
!.env.example

# foundry
out/
cache/
broadcast/

# mac
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# foundry (contracts)
packages/contracts/out/
packages/contracts/cache/
packages/contracts/broadcast/
packages/contracts/lib/
